<!DOCTYPE html>
<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
	<meta charset="utf-8">
	<title>Update supply</title>
</head>
<body>
	<h1>Update the supply</h1>
 <form method="POST"> 
                <!-- Security token by Django -->
                {% csrf_token %} 
        
                <!-- form as paragraph -->
                {{ form.as_p }} 
        
                <input type="submit" value="Update"> 
            </form> 

</body>
</html>