
<html>
<head>
    <title>Viewing_Raw_Materials</title>
    <script type="text/javascript">
        function autofill(value){
            var x, y;
             x = value;
             // x = document.getElementById('id_quantity').value;
             y = document.getElementById('id_selling_price').value;
            if(x > 0 )
            {
            document.getElementById('id_total').value = x * y ;
            }
                            }
    </script>
       
</head>
<body>
    <h1>View price</h1>
   
     <table style="border:1px">
                    <ul>
        <!-- maize_bran,cotton,sun_flower,fish,salt,general_purpose_premix,layers_premix ,shells 
        meat_boaster ,egg_boaster  -->
                    <tr>
                        <th>price Id</th>
                        <th>Date</th>
                        <th>Maize_bran</th>
                        <th>Cotton</th>
                        <th>Sun_Flower</th>
                        <th>Fish</th>
                        <th>Salt</th>
                        <th>General Purpose_Premix</th>
                        <th>Layers_Premix</th>
                        <th>Shells</th>
                        <th>Meat Boaster</th>
                        <th>Egg Boaster</th>
                        <!-- <th>Cost of Supply</th> -->
                       <!--  <th>Total</th>
                        <th>Cost of Supply</th>
                        <th>Pricing</th> -->   
                    </tr>
                 
                    <tr>
                        <td>{{ r_m_p.id}} </td>
                        <td>{{ r_m_p.date }} </td>
                        <td>{{ r_m_p.maize_bran }}</td>
                        <td>{{ r_m_p.cotton }}</td>
                        <td>{{ r_m_p.sun_flower }}</td>
                        <td>{{ r_m_p.fish }}</td>
                        <td>{{ r_m_p.salt }}</td>                      
                        <td>{{ r_m_p.general_purpose_premix }} </td>
                        <td>{{ r_m_p.layers_premix }} </td>
                        <td>{{ r_m_p.shells }} </td>
                        <td>{{ r_m_p.meat_boaster }} </td>
                        <td>{{ r_m_p.egg_boaster }}</td>      
                    </tr>
                               
                </table>

<form method="POST" enctype="multipart/form-data" autocomplete="on">
    <!-- Security token  Make sure you put this immediately after the form tag-->
    {% csrf_token %}
    <p>Raw Material Sales</p>
            
    <h1>Raw Material Sales</h1>
            
     <!-- Using the formset -->
    <label>Date</label>
    <input id="id_date" type="date"> <br/>
    <label>Item</label>
    <select name="raw_material" id="id_raw_material">
    <!--     maize_bran,cotton,sun_flower,fish,salt,layers_premix,general_purpose_premix
   # ,shells,meat_boaster,meat_boaster,egg_boaster,egg_boaster -->
      <option value="maize_bran">maize_bran</option>
      <option value="cotton">cotton</option>
      <option value="sun_flower">sun_flower</option>
      <option value="fish">fish</option>
      <option value="salt">salt</option>
      <option value="layers_premix">layers_premix</option>
      <option value="general_purpose_premix">general_purpose_premix</option>
      <option value="shells">shells</option>
      <option value="meat_boaster">meat_boaster</option>
      <option value="egg_boaster">egg_boaster</option>
    </select> <br/>


    <label>Selling Price</label>
    <input id="id_selling_price" type="number" onchange="autofill()" > <br/>
    <label>Quantity</label>
    <input id="id_quantity" type="number"  onkeyup="autofill(this.value);" ><br/>
    
    <label>Total</label>

    <!-- <p id='id_total'></p> -->
    <input id ="id_total" type="number">
    <!-- <input type="id_total" type="number"  onclick="document.innerHTML(document.getElementById('id_quantity').value + document.getElementById('id_selling_price').value)"> <br/>
 -->
    <!-- <p id="demo"></p> -->

    <script>
    document.getElementById("id_total").innerHTML = document.getElementById('id_quantity').value + document.getElementById('id_selling_price').value;
    </script>

    <br/>
    
    <input type="submit" value="Submit"> 
</form>

</body>
<div>
            <a href="{% url 'get_supply' %}"><p>Get supplies</p></a><br/>
            <a href="{% url 'view_supplies' %}"><p>View supplies</p></a><br/>
            <a href="{% url 'create_products' %}"><p>Create_product</p></a><br/>
            <a href="{% url 'view_products' %}"><p>View_product</p></a><br/>
            <a href="{% url 'create_product_prices' %}"><p>Product_Prices</p></a><br/>
            <a href="{% url 'view_product_prices' %}"><p>View_Product_Prices</p></a><br/>
            <a href="{% url 'create_raw_material_prices' %}"><p>Raw_Material_Prices</p></a><br/>
            <a href="{% url 'view_raw_material_prices' %}"><p>View_Raw_Material_Prices</p></a><br/>
            <a href="{% url 'view_product_catalog' %}"><p>View_Product_Catalog</p></a><br/>
            <a href="{% url 'view_raw_material_catalog' %}"><p>View_Raw_Material_Catalog</p></a><br/>
</div>


</html>



