{% extends 'base.html' %}

{% block title_block %}
View Products
{% endblock %}

{% block body_block %}
<h1>View Product</h1>
    <form action="{% url 'view_products' %}" method="get">
                <!-- <label>Childid</label>
                <input name="child" type="text" required placeholder="Childid..."><br/><br/> -->
                <label>From</label>
                <input name="start_date" type="date" ><br/><br/>
                <labe>To</labe>
                <input name="end_date" type="date" ><br/><br/>
                <input type="submit" name="submit" value="Search"/>                
    </form>

     <table style="border:1px">
                    <ul>
    
                    <tr>
                        <th>Product Id</th>
                        <th>Date</th>
                        <th>Receipt Number</th>
                        <th>Supplier</th>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Amount</th>
                        <th>Transport</th>
                        <th>On loading</th>
                        <th>Off loading</th>
                        <th>Grinding</th>
                        <th>Cost of Supply</th>
                       <!--  <th>Total</th>
                        <th>Cost of Supply</th>
                        <th>Pricing</th> -->
                        <th>Update</th>
                        <th>Delete</th>

                       
                    </tr>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.id}} </td>
                        <td>{{ product.date }} </td>
                        <td>{{ product.receipt_number }}</td>
                        <td>{{ product.supplier }}</td>
                        <td>{{ product.item }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.unit_price }}</td>                      
                        <td>{{ product.amount }} </td>
                        <td>{{ product.transport }} </td>
                        <td>{{ product.onloading }} </td>
                        <td>{{ product.offloading }} </td>
                        <td>{{ product.grinding }}</td>
                        <td>{{ product.cost_of_supply}}</td>
                        <!--I dnot know why i had to back reference it , it just couldn't work with it -->
                        <td><a href="../update_product/?id={{ product.id }}">Update</a></td>
                        <td><a href="../delete_product/?id={{ product.id }}">Delete</a></td>

                    </tr>
                    {% endfor %}
                
                </table>
       
{% endblock %}




